.anime{
    overflow: hidden;
    animation: identifier 700ms;
--target : -100%;
}

@keyframes identifier {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(var(--target));
        opacity: 0;
    }
}
.anime-prev{
    overflow: hidden;
    animation: identifier 700ms;
    --target: 100%;
}

