<div class="h-screen flex flex-col gap-1 justify-center items-center cursor-pointer {{classlists()}}">
    <img src="{{imgUrl()}}" width="200" alt="">
    <div class=" flex flex-col gap-2 relative">
        <div class=" absolute -right-20 p-5" (click)="next.emit()">next</div>
        <div class=" absolute -left-20 p-5" (click)="prev.emit()"> prev </div>
        <div class=" font-bold text-lg text-center">
            {{title()}}
        </div>
        <div class=" text-md text-center">
            {{descrioption()}}
        </div>
    </div>
</div>